<div class="container" ng-controller="mainController">
    <div class="pageHeader text-center">
        <h1> Prosty planer</h1>
    </div>
    <div class="row times">
        <div class="col-xs-4 text-center" ng-repeat="day in days">

            <h2>{{ day.name }} </h2>
            <div class="time-slot" ng-repeat="slot in day.slots">
                <input type="checkbox" id="{{ day.name }}-{{ $index }}" ng-model="slot.booked" ng-disabled="slot.booked">
                <label for="{{ day.name }}-{{ $index }}">{{ slot.time }}<br>
                    <span ng-if="slot.booked">Booked</span>
                    <span ng-if="!slot.booked">Available</span>
                </label>
            </div>
        </div>
    </div>

    <p class="text-center">
        <a href="#/planer" class="btn btn-primary" ng-click="reset()">Reset</a>
    </p>

</div>